<h2> Welcome, <%= @user.name %></h2>
<% if @user.admin? %>
  <%= link_to "Update Personal Account Information", admin_edit_user_path %>
<% else %>
  <%= link_to "Update Personal Account Information", edit_user_path %>
<% end %>

<% if @user.orders.any? %>
  <%= link_to "Order History", orders_path %>
<% end %>
