<% @items.each_slice(3) do |items| %>
 <div class="row">
   <div class ="center">
   <% items.each do |item| %>
   <div class="col-md-4">
     <div id="item-card">
       <%= link_to (image_tag item.image, class: "img-thumbnail"), item_path(item) %>
       <div id="card-text">
         <p><%= item.name %> - $<%= item.price %></p>
         <%= button_to "Add to cart", cart_items_path(id: item), class: "btn btn-lg btn-block" %>
       </div>
     </div>
   </div>
   <% end %>
   </div>
 </div>
<% end %>
