<div class="row">
  <div class="col-md-12" id = "title">
    <h2>All Items</h2>
  </div>
</div>

<% @items.each_with_index do |item, index| %>
  <% if index % 3 == 0 && index != 0 %>
    </div>
  <% end %>

  <% if index % 3 == 0 %>
    <div class="row">
  <% end %>

  <div class="col-md-4">
    <div id="item_polaroid">
      <%= link_to item_path(item) do %>
        <%= image_tag item.image %>
      <% end %>

      <div id="text-content">
        <p> <%= item.name %> </p>
        <p> <%= "$#{item.price}" %> </p>
      </div>
      <%#= button_to "Add to cart", cart_items_path(id: item) %>
    </div>
  </div>


<% end %>
