<div id="page_header">
  <%= image_tag "https://static.pexels.com/photos/34678/pexels-photo.jpg"%>
  <!-- <a href="#site_content"><i class="glyphicon glyphicon-menu-down" id="scroll-icon"></i></a> -->
  <div id="greeting-container">
    <div id="greeting-bg"></div>
    <div id="greeting">
      <h2>Welcome to HIPTIQUE</h2>
      <h5><em>The Hipster's Antique Store</em></h5>
    </div>
  </div>
</div>
