<div id="page_header">
  <%= image_tag "https://nktva42l4am2fq6f1bf2dz43-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/hipster_dog.jpg"%>
  <!-- <a href="#site_content"><i class="glyphicon glyphicon-menu-down" id="scroll-icon"></i></a> -->
  <div id="greeting-container">
    <div id="greeting-bg"></div>
    <div id="greeting">
      <h2>Welcome to HIPTIQUE</h2>
      <h5><em>The Hipster's Antique Store</em></h5>
    </div>
  </div>
</div>
