<h1> All Orders </h1>

<table class="table">
  <th>Order Number</th>
  <th>Time Placed</th>

  <% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.created_at %></td>
  </tr>
<% end %>
</table>
