/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


#custom-nav {
  border-top: none;
  box-shadow: none;
  background-size: parent;
  background: linear-gradient(#C7D3DC,#5B798E);
  background: -o-linear-gradient(#C7D3DC,#5B798E);
  background: -moz-linear-gradient(#C7D3DC,#5B798E);
  background: -webkit-linear-gradient(#C7D3DC,#5B798E);
}

.navbar {
  border: none;
}

#icon{
  height: auto;
  width: auto;
  max-width: 300px;
}

body {
  background-image: url('https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg');
  background-repeat: no-repeat;
  font-family: 'Lato', serif;
}

.flash_message {
  color: white;
  background-color: #8ACC7C;
  padding: 10px;
  margin-bottom: 10px;
}

.flash_message a:link a:visited a:hover {
  text-decoration: underline;
  color: white;
}

#site_content {
  background-color: white;
}

#item_information {
  margin: 10px;
  background-color: white;
}

#index_title {
  background-color: white;
}
