@import "bootstrap-sprockets";
@import "bootstrap";


#custom-nav {

}

.navbar {
  border: none;
}

#icon{
  height: auto;
  width: auto;
  max-width: 300px;
}

body {
  background-image: url('https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg');
  background-repeat: no-repeat;
  font-family: 'Lato', serif;
}

.flash_message {
  color: white;
  background-color: #8ACC7C;
  padding: 10px;
  margin-bottom: 10px;
}

.flash_message a:link a:visited a:hover {
  text-decoration: underline;
  color: white;
}

#site_content {
  background-color: white;
}

.row {
  margin-bottom: 30px;
}

.center {
  margin-left: 10%;
}

#item-card {
  display: inline-block;
}

#item-card img {
  height: 200px;
  max-width:200px;
}

#card-text {
  text-align: center;
}

#title {
  text-align: center;
  margin-bottom: 30px;
}
