<table class="table hidden" id= '<%=order_status%>_orders' >
  <caption>Orders: <%= order_status %></caption>
  <th>Order Number</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
  </tr>
<% end %>
</table>
