<h1>Admin Dashboard</h1>
<h2> Welcome, <%= @user.username %></h2>
<%= link_to "Update Personal Account Information", edit_user_path %>
<h3>All Orders</h3>
<table class="table">
  <th>Order Number</th>
  <th>Order Status</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
    <td><%= order.status %></td>
  </tr>
<% end %>
</table>
